# Basic Level

In [ ]:
# 1. String to Integer Conversion
# Convert the string "123" to an integer.
num = int("123")

In [ ]:
# 2. Floating-Point Number to Integer
# Convert the float 123.456 to an integer.
num = int(123.456)

In [ ]:
# 3. Integer to String Conversion
# Convert the integer 123 to a string.
num_str = str(123)

In [ ]:
# 4. List to Tuple Conversion
# Convert the list [1, 2, 3] to a tuple.
my_tuple = tuple([1, 2, 3])

In [ ]:
# 5. Tuple to List Conversion
# Convert the tuple (1, 2, 3) to a list.
my_list = list((1, 2, 3))

In [ ]:
# 6. String to List Conversion
# Convert the string "123" to a list of characters.
char_list = list("123")

In [ ]:
# 7. List of Strings to Single String
# Concatenate the list of strings ["Hello", "World"] into a single string, separated by spaces.
joined_string = " ".join(["Hello", "World"])

In [ ]:
# 8. Check data type
# check what is the data type of the following variable
cool_var = '3.1415'
print(type(cool_var))

# Intermediate Level

In [ ]:
# 9. Dictionary to List of Tuples
# Convert the dictionary {"a": 1, "b": 2, "c": 3} to a list of tuples representing key-value pairs.
my_dict = {"a": 1, "b": 2, "c": 3}
dict_items = list(my_dict.items())

In [ ]:
# 10. Binary String to Integer
# Convert the binary string '1111011' back to an integer.
integer_from_binary = int('1111011', 2)

In [ ]:
# 11. Floating-Point Number to String with 2 Decimal Places
# Convert the floating-point number 123.456 to a string, formatted to have two decimal places.
formatted_str = "{:.2f}".format(123.456)

In [ ]:
# 12. String to Floating-Point Number
# Convert the string "123.456" to a floating-point number.
float_num = float("123.456")

In [ ]:
# 13. Combine Two Lists into a Dictionary
# Combine the lists ["a", "b", "c"] and [1, 2, 3] into a dictionary.
keys = ["a", "b", "c"]
values = [1, 2, 3]
combined_dict = dict(zip(keys, values))

In [ ]:
# 14. Extract Values Greater Than a Number
# From the dictionary {"a": 1, "b": 5, "c": 10}, extract values greater than 3 into a new dictionary.
original_dict = {"a": 1, "b": 5, "c": 10}
filtered_dict = {k: v for k, v in original_dict.items() if v > 3}

In [1]:
# 15. Check for a specific data type
# check if the following variable is a string
record = 'missing data'
print(isinstance(record, str))

True

In [2]:
# 16. Type conversion
# use list comprehension to convert the items of the following list to string
my_list = [1, 45, 11, 'a fancy cat', '13']
[str(item) for item in my_list]

['1', '45', '11', 'a fancy cat', '13']

# Review

## 1- Conversion to Integer
Converting strings to integers is straightforward and commonly done using the built-in function int(). The int() function takes a string  as its argument and converts it into an integer. Here's how you can do it:

### Basic Conversion
If you have a string that represents a valid integer, you can convert it directly:

In [7]:
my_string = "123"
my_int = int(my_string)
print(my_int)

123

### Handling Errors
If the string does not represent a valid integer (for example, it contains letters or special characters), using int() will raise a ValueError. You can handle this with a try-except block:

In [8]:
my_string = "abc"
try:
    my_int = int(my_string)
except ValueError:
    print("This string cannot be converted to an integer.")

This string cannot be converted to an integer.

## Converting With a Base
The int() function can also take a second argument for the base in which the number is represented. The default base is 10, which is for decimal numbers. However, you can convert numbers in other bases (e.g., binary, octal, hexadecimal) to integers as well:

In [9]:
# Binary (base 2)
binary_string = "101"
my_int = int(binary_string, 2)
print(my_int)  # Output: 5

# Octal (base 8)
octal_string = "7"
my_int = int(octal_string, 8)
print(my_int)  # Output: 7

# Hexadecimal (base 16)
hex_string = "A"
my_int = int(hex_string, 16)
print(my_int)  # Output: 10

5
7
10

### Practical Example
Let's say you're reading numbers from a file or input, and you need to sum these numbers. The numbers are provided as strings, and you need to convert them to integers to perform the sum:

In [11]:
number_strings = ["10", "20", "30"]
total = sum(int(number) for number in number_strings)
print(total)

60

## 2 - Conversion to String

Converting values to strings in Python is a common and straightforward operation, essential for tasks like formatting output, concatenating with other strings, or preparing data for storage. Python uses the built-in `str()` function to convert various data types (including numeric types, lists, tuples, and even objects) to strings. Here's how you can use it:

### Basic Conversion

For basic data types like integers, floats, and others, you can directly apply the `str()` function:

In [13]:
my_int = 123
my_str = str(my_int)
print(my_str)

my_float = 123.45
my_str = str(my_float)
print(my_str)

123
123.45

### Converting Lists and Tuples

You can also convert complex data types such as lists and tuples to strings:

In [14]:
my_list = [1, 2, 3]
my_str = str(my_list)
print(my_str)

my_tuple = (4, 5, 6)
my_str = str(my_tuple)
print(my_str)

[1, 2, 3]
(4, 5, 6)

### Practical Example: Concatenation and Formatting

When working with strings, especially in output and messages, converting values to strings is very useful:

In [15]:
age = 25
message = "I am " + str(age) + " years old."
print(message)

I am 25 years old.

Or using formatted string literals (f-strings), which implicitly convert expressions to their string representations:

In [16]:
age = 25
message = f"I am {age} years old."
print(message)

I am 25 years old.

### Handling Non-String Types in Concatenation

If you try to concatenate a non-string type with a string without converting it first, Python will raise a `TypeError`. Using `str()` to convert non-string types is essential in these scenarios:

In [12]:
number = 100
# Attempting to concatenate directly will raise an error
# message = "Number: " + number  # This will raise a TypeError

# Correct approach
message = "Number: " + str(number)
print(message)  # Output: 'Number: 100'

Number: 100

## 3 - Concatenating a list's Object

Concatenating a list of strings into a single string is a common task in Python, and there are several ways to accomplish it. The most straightforward method is using the `join()` method of a string object, which combines the elements of a list into a single string, inserting a specified separator between each element. Here's how you can do it:

### Using `join()`

The `join()` method is called on the separator string, and the list of strings is passed as the argument. If you want to concatenate the strings without any separator, you can use an empty string (`""`) as the separator:

In [17]:
list_of_strings = ["Hello", "world", "!"]
result = "".join(list_of_strings)
print(result)

Helloworld!

If you want to add spaces or any other separator between the elements, specify that separator in the `join()` call:

In [ ]:
list_of_strings = ["Hello", "world", "!"]
result = " ".join(list_of_strings)
print(result)

### Concatenation with a Separator

You can use any string as a separator, such as a comma `,`, a dash `-`, or even multiple characters:

In [18]:
list_of_strings = ["2024", "02", "11"]
date_with_dashes = "-".join(list_of_strings)
print(date_with_dashes)

date_with_slashes = "/".join(list_of_strings)
print(date_with_slashes)

2024-02-11
2024/02/11

### Concatenating with a Loop (Not Recommended)

Although it's possible to concatenate strings using a loop and the `+` operator, this method is less efficient than `join()` for large lists, because it creates a new string object with each iteration:

In [ ]:
list_of_strings = ["Hello", "world", "!"]
result = ""
for s in list_of_strings:
    result += s + " "  # Adding a space as separator
print(result.strip())  # Using strip() to remove the trailing space

However, this method is not recommended for concatenating large numbers of strings due to its inefficiency compared to `join()`.

For most cases, using the `join()` method is the preferred way to concatenate a list of strings into a single string because it's efficient and concise. It allows you to easily specify a separator, including the option to have no separator at all.

## 4 - Converting Strings to list

Converting a string to a list in Python can be done in several ways, depending on how you want to split or segment the string into list elements. Here are some common methods for converting strings to lists:

### 1. Converting a String to a List of Characters

If you want to convert a string into a list where each element is a single character from the string, you can use the built-in `list()` function:

In [25]:
my_string = "hello"
my_list = list(my_string)
print(my_list)

['h', 'e', 'l', 'l', 'o']

### 2. Splitting a String by Spaces

To split a string into a list of words (assuming words are separated by spaces), you can use the `split()` method without specifying a separator, as it defaults to any whitespace:

In [26]:
my_string = "Hello world"
word_list = my_string.split()
print(word_list)

['Hello', 'world']

### 3. Splitting a String by a Specific Separator

If your string uses a specific character as a separator (e.g., commas, semicolons, or any other delimiter), you can specify that character in the `split()` method to divide the string accordingly:

In [27]:
my_string = "apple,banana,cherry"
fruit_list = my_string.split(',')
print(fruit_list)

['apple', 'banana', 'cherry']

### 4. Splitting a String with Multiple Delimiters

For strings with multiple different separators, you might use regular expressions with the `re.split()` method from the `re` module:

In [28]:
import re

my_string = "apple, banana; cherry. date"
delimiters = ",|;|\."
fruit_list = re.split(delimiters, my_string)
fruit_list = [fruit.strip() for fruit in fruit_list]  # Removing any extra whitespace
print(fruit_list)

['apple', 'banana', 'cherry', 'date']

### 5. Converting a String to a List of Words (Handling Punctuation)

If you want to convert a string into a list of words and handle punctuation properly (i.e., excluding punctuation from words), you might consider using the `word_tokenize` method from the Natural Language Toolkit (`nltk`) library, which is more sophisticated and can handle various edge cases in natural language text:

In [29]:
# You may need to install nltk first
# !pip install nltk

from nltk.tokenize import word_tokenize

my_string = "Hello, world! How are you?"
word_list = word_tokenize(my_string)
print(word_list)

['Hello', ',', 'world', '!', 'How', 'are', 'you', '?']

This method is particularly useful for natural language processing tasks where punctuation marks are considered separate tokens.

## 5 - Tuple Conversion

Converting various data types to tuples in Python is a straightforward task that can be achieved using the built-in `tuple()` function. Tuples are immutable sequences, which means that once a tuple is created, its contents cannot be modified. Here's how to use the `tuple()` function for converting different types of data to tuples:

### Converting Lists to Tuples

If you have a list and you want to convert it to a tuple, you can simply pass the list to the `tuple()` function:

In [19]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

### Converting Strings to Tuples

When converting a string to a tuple, each character in the string becomes an element in the tuple:

In [20]:
my_string = "hello"
my_tuple = tuple(my_string)
print(my_tuple)

('h', 'e', 'l', 'l', 'o')

### Converting Sets to Tuples

Sets can also be converted to tuples. This can be useful when you need an immutable and ordered representation of a set's elements:

In [21]:
my_set = {5, 2, 3, 1, 4}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

Note: The order of elements in the tuple created from a set can be unpredictable because sets are unordered collections. However, the `tuple()` function will convert them into a tuple with a consistent order.

### Converting Dictionaries to Tuples

When converting a dictionary to a tuple, using `tuple()` directly on the dictionary will convert the dictionary's keys to a tuple. If you want to include both keys and values, you should convert the dictionary's items to a tuple:

In [22]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys_tuple = tuple(my_dict)
print(keys_tuple)

items_tuple = tuple(my_dict.items())
print(items_tuple)

('a', 'b', 'c')
(('a', 1), ('b', 2), ('c', 3))

### Converting a Range to a Tuple

A range, which is often used for loops, can be converted to a tuple to create a tuple of numbers in a specific range:

In [23]:
my_range = range(1, 5)
my_tuple = tuple(my_range)
print(my_tuple)

(1, 2, 3, 4)

### Converting Generators or Iterators to Tuples

If you have a generator or an iterator, you can convert it to a tuple by passing it to the `tuple()` function. This is useful for materializing the generated or iterated values into a static collection:

In [24]:
my_generator = (x * 2 for x in range(5))
my_tuple = tuple(my_generator)
print(my_tuple)

(0, 2, 4, 6, 8)